<mat-nav-list>
    <div class="logo py-4">
            <img src="../../../assets/logo-rose-blanche.png"  alt="Entreprise Logo">
            
        </div> 
        <mat-divider></mat-divider>
        <h2 matSubheader class="mt-2">Interfaces</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/accueil" >
            <mat-icon>home</mat-icon>Acceuil
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/gestion-candidat" >
            <mat-icon>account_circle</mat-icon>Gestion des Candidats
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/gestion-demandes" >
            <mat-icon>description</mat-icon>Gestion des demandes
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/gestion-besoins" >
            <mat-icon>list_alt</mat-icon>Gestion Besoins en Recrutement
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/gestion-entretiens" >
            <mat-icon>assignment_turned_in</mat-icon>Gestion des entretiens
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/statistiques" >
            <mat-icon>assessment</mat-icon>Statistiques
        </a>
    </mat-nav-list>
